body{
  color: #000000;
  font-size: 16px;
  margin: 1.2em;
  font-family: 'Andika', sans-serif;
  background-size: cover ;
  background-position: center;
  background-image: url("../images/pigeonbackground.jpg");
  width: auto;
  height: auto;
  background-repeat: no-repeat;
}

main{
  margin-bottom: 100px;
}

h1{
  color: #c12258;
  font-size: 2em;
  line-height: 2;
  text-align:center;
}

caption{
  margin:5px 0px;
  text-align:center;
}

p{
  padding-top: 15px;
  color: black;
}

a{
  color: #C12258;
  text-align:center;
  text-decoration-style: wavy;
  font-size: 16px;
}

table{
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    border-radius:10px;
}

.colhead{
  background-color: #7e0830;
  color: #FFFFFF;
  min-width: 125px;
  padding-top: 10px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;
  text-align:center;
  text-transform: uppercase;
}

.rowhead{
  border-bottom: 2px solid #000000;
}

.colhead:first-of-type{
  border-top-left-radius: 10px;
}

.colhead:last-of-type{
  border-top-right-radius: 10px;
}

tr:last-of-type:last-child >
th.rowhead{
  border-bottom-left-radius: 10px;
}

tr:last-of-type:last-child >
td:last-of-type{
  border-bottom-right-radius: 10px;
}

td{
  padding: 15px;
  text-align:center;
  border-bottom: 2px solid #000000;
}

tr{
  background-color: #D1D1D1
}

tr:nth-child(even) {
  background: transparent;
}

tr:nth-child(odd) {
  background:  #D1D1D1
}

tr:hover {
  background: rgba(126, 8, 48, 0.25);
}

thead tr:first-child th:first-child{}

footer{
  background:#000000;
  text-align:center;
  color: #FFFFFF;
  min-height: 75px;
  position: relative;
}

