body{
  font-family: 'Montserrat'; 
  font-size: 16pt;
  background: black;
  color:white;
}

.skip{
  height: 30px;
  left: 0%;
  padding: 1px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.5s;
  background-color: #FB87FF;
  color:black;
  font-size:12px;
}

.skip:focus {
  transform: translateY(0%);
}

a{
  margin:0;
  font-size:100%;
  color:  #FB87FF;
}

header{
  border-bottom: 1px solid white;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header{
  font-size: 2em;
  margin-top: 0;
  text-align: center;
  list-style: none;
}

.parallaxtext{
  height:50px;
  background-color:black;
  font-size:20px;
  margin: auto;
  text-align: center;
  padding: 20px;
  width:60%;
}

h1{
  font-size: 2em;
  margin-top: 70px;
  text-align: center;
  color:  white;
}

h2{
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
  color:  white;
}

p {
  text-align: center;
  color:  white;
}

.nav_links{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  width: auto;
}

.nav_links .nav_item {
  height: auto ;
  margin: auto;
  width: auto;
}


.nav_links .nav_item a{
  color:  white;
  text-decoration: none;
  height: auto ;
  margin: auto;
  width: auto;
}

.nav_links .nav_item a:hover, a:focus{
  color:  white;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
  margin: auto;
  width: auto;
}

.nav_links .current{
  color: #FB87FF;
  height: auto ;
  margin: auto;
  width: auto;
}

@-webkit-keyframes frontsanimationss{
  0% {opacity:0;}
  100% {opacity:2;} 
}

@keyframes frontsanimationss{
  0% {opacity:0;}
  100% {opacity:2;}
} 

#frontanimations{
  -webkit-animation-name: frontsanimationss;
  animation-name: frontsanimationss;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}

#homecontenttext{
  font-size: 25px;
  padding-bottom: 20px;
}

/*contact*/
.containers h1{
  color: white;
  font-size: 30px;
  background: none;
}

.containers h2{
  color: white;
  font-size: 20px;
  background: none;
}

.containers{
  padding: 50px;
}

.container{
  border: none;
  text-align: center;
  margin: auto;
  width: 60%;
  position: relative;
  background:	#4B0082;
  border-radius: 25px;
  padding-bottom:10px;
}

.containeremail, .containername, .containermessage{
  margin: auto;
  width: auto;
  color: white;
  padding: 20px;
}

/*end of contact*/

/*flip*/
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

#flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-bottom: 300px;
}

#flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
}

#flip-card:hover #flip-card-inner,
#flip-card:focus-within #flip-card-inner,
#flip-card:active #flip-card-inner,
#flip-card:focus #flip-card-inner {
  transform: rotateY(180deg);
}

#flip-card-front,
#flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

#flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}
/*end of flip*/

/*work*/
#work{
  position: relative;
  padding-top: 50px;
}

.gallerytwo{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 80px;
  width: auto;
  margin:auto;
}

#images1,#images2,#images3,#images4,#images5,#images6{
    max-width:  100%;
    height: auto;
    object-fit: cover;
}
/*end of work*/

/*about page*/

#bios{
  font-size: 1.5em;
  text-align: center;
  padding: 20px;
  padding-top: 50px;
  width:80%;
  margin: auto;
}

#biosp{
  text-align: center;
  padding: 5px;
  width:70%;
  margin:auto;
}

#biospp{
  text-align: center;
  padding: 5px;
  width:70%;
  margin:auto;
}

#drawings{
  text-align: center;
  padding: 5px;
  width:70%;
  margin:auto;
}

#gallery{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  padding:50px;
  padding-top:90px;
  width: 80%;
  margin:auto;
  align-items: center;
}

#image1, #image2, #image3, #image4, #image5, #image6, #image7, #image8, #image9{
    float: center;
    max-width: 100%;
}

#image1:hover, #image2:hover, #image3:hover, #image4:hover, #image5:hover, #image6:hover, #image7:hover, #image8:hover, #image9:hover{
  outline: 2px solid rgb(140, 24, 223); 
}

/*end of about page*/

footer{
  color:  white;
  padding-top:50px;
  padding-bottom:50px;
  text-align: center;
  max-width: 100%;
}

@media screen and (prefers-reduced-motion: reduce){
  #frontanimations{
    -webkit-animation: none;
    animation: none;
  }

  #skipping a{
    -webkit-transition: none;
    transition: none;       
  }

  .flip-card-inner {
    transition: transform none;
}
}





